Adafruit-Blinka==3.4.1
adafruit-circuitpython-busdevice==4.1.1
adafruit-circuitpython-framebuf==1.2.2
adafruit-circuitpython-ssd1306==2.7.0
Adafruit-PlatformDetect==1.4.4
Adafruit-PureIO==1.0.4
certifi==2019.11.28
chardet==3.0.4
Click==7.0
dominate==2.4.0
drv8830==0.0.1
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-InfluxDB==0.3
Flask-Moment==0.9.0
Flask-WTF==0.14.2
i2cdevice==0.0.6
idna==2.8
influxdb==5.2.2
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
Pillow==8.2.0
pyftdi==0.42.2
pyserial==3.4
python-dateutil==2.8.1
pytz==2019.3
pyusb==1.0.2
requests==2.22.0
rpi-ws281x==4.2.3
RPi.GPIO==0.7.0
six==1.13.0
smbus==1.1.post2
spidev==3.4
sysv-ipc==1.0.1
urllib3==1.25.7
visitor==0.1.3
Werkzeug==0.16.0
WTForms==2.2.1
