{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}NTX Home{% endblock %}

{% block page_content %}
<div class="page-header">
<h1>Aquarium Status</h1>
</div>
<!--
	<ul>    	
    	{% for key, value in aqdict.items() %}
    	<li>{{key}} : {{value}}</li>
    	{% endfor %}
    	{% for key, value in pinstatus.items() %}
    	<li>{{value['name']}} state is {{value['state']}}</li>
    	{% endfor %}
    	<li>Realtime : {{moment().format('MMMM Do YYYY, h:mm:ss a')}}</li>
    </ul>
-->
<body>
    <h2>Aquarium State</h2>
    <ul id='aqStatelist'>Loading Aquarium State...</ul>
    <h2>Pin State</h2>
    <ul id='pinStatelist'>Loading Pin State...</ul>
<body>
{% endblock %}
